<html>
    <head>
        <tilte>Castello</tilte>
        <link rel = "stylesheet" href = "{{url_for('static', filename='css/monumenti.css')}}">
    </head>
    <body>
        <p>Il Castello Sforzesco è un grande complesso fortificato situato a Milano poco fuori dal centro storico della città. Fu eretto nel XV secolo da Francesco Sforza, divenuto da poco Duca di Milano, sui resti di una precedente fortificazione medievale del XIV secolo nota come Castello di Porta Giovia (o Zobia).</p>
    </body>
</html>