<html>
    <head>
        <tilte>San siro</tilte>
        <link rel = "stylesheet" href = "{{url_for('static', filename='css/monumenti.css')}}">
    </head>
    <body>
        <p>Lo stadio Giuseppe Meazza di Milano, noto anche col nome di San Siro dal quartiere in cui sorge, è il principale impianto sportivo di Milano. Ospita le partite del Milan e dell'Inter, ed ha una capacità di 80.018 posti a sedere: ciò lo rende il nono stadio d'Europa in termini di capienza spettatori.</p>
    </body>
</html>